<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
    <beans:bean id="customSecurityFilter" class="me.jiangyu.april.web.security.RoleAdminFilter"/>
    <http auto-config="false" authentication-manager-ref="authenticationManager">

        <intercept-url pattern="/admin" access="ROLE_ADMIN"/>
        <form-login login-page="/login"/>
        <custom-filter ref="customSecurityFilter" after="ANONYMOUS_FILTER"/>

    </http>
    <authentication-manager id="authenticationManager">

        <!--<authentication-provider ref="orgAuthenticationProvider"/>-->
    </authentication-manager>
</beans:beans>